.inputInfo {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  line-height: 1.5;
}

.greeting {
  text-align: center;
  font-size: 2rem;
}

.greeting p {
  font-size: 1.5rem;
}

.greeting .welcomeText {
  font-size: 2rem;
}

.inputInfo input::placeholder {
  padding-left: 0.5rem;
}

.inputInfo label {
  text-align: left;
  margin: 1rem 0 0.4rem;
  font-weight: 600;
  color: var(--text-h);
}
.welcomeText {
  font-weight: var(--thin-weight);
  font-size: 2rem;
  color: var(--text-h);
}

.linkedinBtn {
  background-color: #007ab6;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
}

.profileImage {
  width: 150px;
  border-radius: 50%;
}
