.roleInfo {
  text-align: left;
}

.roleInfo h1 {
  margin-right: 6rem;
  line-height: 1;
}
.roleInfo h4 {
  color: var(--text-small);
  font-weight: var(--thin-weight);
}

.backButton {
  margin-bottom: 2rem;
}

.headerp {
  margin: 3rem 0 0.3rem;
}
