.profilesection {
    padding-bottom: 1.5rem;  
}

.profileheader {
    text-align: left;
    font-weight: var(--regular-weight);
    font-style: bold;
    margin: 2rem 0;
}

.titleRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.avatar {
    padding: 1.5rem;
    border: 1px solid var(--border);
    margin: 3rem 0;
    border-radius: 1rem;
}

.funFact {
    padding: 2rem;
}

.stalkLater {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;    
}

.editBtn {
    background-color: var(--bg);
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.editBtn img {
    width: 3rem;
    height: 3rem;
}

.stalkedFeed {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.avatarImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.avatarInitials {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
  color: #212121;
}