:root {
  --text-h: #ffffff;
  --text-small: #bfbfbf;

  --bg: #212121;
  --border: #ffffff;
  --input-bg: #4f4f4f;
  --accent: #e51236;
  --sans: "Inter", system-ui, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --regular-weight: 700;
  --thin-weight: 500;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text-h);
  background: var(--bg);
  padding: 1rem;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 5rem;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--sans);
  color: var(--text-h);
  font-weight: var(--regular-weight);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.0703px;
  margin: 0 0 8px;
}

h3 {
  color: var(--text-h);
}

h4 {
  font-size: 20px;
  color: var(--text-small);
}

h5 {
  font-size: 18px;
  color: var(--text-small);
  margin: 0;
  font-weight: var(--thin-weight);
}
p {
  margin: 0;
  color: var(--text-small);
}
small {
  font-size: 14px;
}

button {
  padding: 1.2rem 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: var(--accent);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.0703px;
  border: none;
  font-family: var(--sans);
}

.backLink {
  color: var(--text-small);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: var(--thin-weight);
}

input {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--border);
  background-color: var(--input-bg);
  color: var(--text-h);
}

.initials {
  width: 70px;
  height: 70px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #212121;
}

.student {
  background-color: #fcee58;
}

.industry {
  background-color: #ff823e;
}

.error {
  color: var(--accent);
  font-size: 1rem;
  text-align: left;
}

.subTitle {
  font-size: 15px;
  font-weight: var(--thin-weight);
  margin: 1rem 0 0;
  max-width: 70%;
  text-align: start;
}

.cancelBtn {
  flex: 1;
  background-color: transparent;
  color: var(--text-h);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
