:root {
  /* --text: #6b6375; */
  --text-h: #FFFFFF;
  --text-small: #BFBFBF;
  --text-smaller: #828282;
  
  --bg: #212121;
  --border: #FFFFFF;
  --input-bg: #4F4F4F;
  --accent: #E51236;
  --sans: 'Inter', system-ui, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --regular-weight: 700;
  --thin-weight: 500;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  /* color-scheme: light dark; */
  color: var(--text-h);
  background: var(--bg);
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  padding: 1rem;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
     --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  /* #social .button-icon {
    filter: invert(1) brightness(2);
  } 
}*/

body {
  margin: 0;
  padding-bottom: 5rem;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--sans);
  color: var(--text-h);
  font-weight: var(--regular-weight);
}

h1 {
  font-size: 40px;
  /* @media (max-width: 1024px) {
    font-size: 36px;
  } */
}

h2 {
  font-size: 32px;

  letter-spacing: 0.0703px;
  margin: 0 0 8px;
  /* @media (max-width: 1024px) {
    font-size: 20px;
  } */
}

h3 {
  color: var(--text);
}

h4 {
  font-size: 20px;
  color: var(--text-small);
}

h5 {
  font-size: 18px;
  color: var(--text-small);
  margin: 0;
  font-weight: var(--thin-weight);
}
p {
  margin: 0;
  color: var(--text-small);
}
small {
  font-size: 14px;
}

button {
    padding: 1.2rem 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: var(--accent);
    color: #FFFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.0703px;
    border: none;
    font-family: var(--sans);
}

input {
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--border); 
    background-color: var(--input-bg);
    color: var(--text-h);
}